extends layout

block content
    h1= title
    div.list-group
        each book in bookList
            a(href=book.url, class="list-group-item")
                strong= book.title
                span  (#{book.author.fullName})
        else
            div.list-group-item There are no books
    a.btn.btn-success(href="/catalog/book/create") 
        i.fa.fa-plus-circle
        span  Create a new book