extends layout

block content
    h1= title
    div.list-group
            each genre in genreList
                a(href=genre.url, class="list-group-item")
                    strong= genre.name
            else
                div.list-group-item There are no genres
    a.btn.btn-success(href="/catalog/genre/create") 
        i.fa.fa-plus-circle
        span  Create a new genre