doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='dark full-height-fixed-nav')
      block sidebar
          a.color1(href='/catalog') 
            i.fa.fa-home
            span  Home
          a.color2(href='/catalog/books')
            i.fa.fa-book
            span  Books
          a.color3(href='/catalog/authors') 
            i.fa.fa-user
            span  Authors
          a.color4(href='/catalog/genres') 
            i.fa.fa-info-circle
            span  Genres
          a.color5(href='/catalog/bookinstances') 
            i.fa.fa-book-open
            span  Book copies
                
    div(class='margin-left')
      div(class="container-padding")
        block content