body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dark {
  background-color: #333;
  color: #e5e5e5;
}

.container-padding {
  padding:30px;
}

.full-height-fixed-nav {
  height:100vh;
  position:fixed;
  width:150px;
  font-size: 18px;
  padding-top: 20px;
}

.full-height-fixed-nav a {
  display: block;
  width: 100%;
  padding: 15px 10px;
}
.full-height-fixed-nav a:hover {
  background-color: #4c4c4c;
}

.full-height-fixed-nav a {
  color: #b7b7b7;
  text-decoration: none;
}

.margin-left {
  margin-left: 150px;
}

.color1:hover{
  color:#749da1;
}
.color2:hover{
  color:#b4be89;
}
.color3:hover{
  color:#E5E5A0;
}
.color4:hover{
  color:#e0be99;
}
.color5:hover{
  color:#eb9191;
}